.app {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.square {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
#grid {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;

  
}
.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid blue;
  box-sizing: border-box;
}
.cross {
  width: 90px;
  height: 90px;
  position: relative;
  transform: rotate(45deg);
 
}

.cross:before, .cross:after {
  content: "";
  position: absolute;
  background-color: red;
}

.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%
}

.cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}
